@model IEnumerable<BusMeApp.Models.City>

@{
    ViewBag.Title = "Index";
}

<h2>Cities</h2>

<div id="new-btn-city">
    @Html.ActionLink("New", "Create", new { }, new { @class = "btn btn-primary" })
</div>

<div class="table-responsive ">
    <table class="table table-bordered table-sm" id="city-table">
        <thead class="thead-dark">
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.CityName)
                </th>
                <th>Edit/Delete</th>
            </tr>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.CityName)
                    </td>
                    <td>
                        @Html.ActionLink("Edit", "Edit", new { id = item.Id }, new { @class = "btn btn btn-warning" })
                        @Html.ActionLink("Delete", "Delete", new { id = item.Id }, new { @class = "btn btn-danger" })
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>


