@model BusMeApp.Models.BusRoute

@{
    ViewBag.Title = "Create";
}

<div class="row">
    <div class="col-md-8">
        <section id="loginForm">
            @using (Html.BeginForm())
            {
                @Html.AntiForgeryToken()
                <div class="col-md-6 col-md-pull-8 ml-auto">
                    <div class="booking-form">
                        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                        <h3>New Bus Route</h3>
                        <form align="center">
                            <div class="form-group">
                                @Html.LabelFor(model => model.Departure, htmlAttributes: new { @class = "control-label col-md-2" })
                                <div class="col-md-10">
                                    @Html.EditorFor(model => model.Departure, new { htmlAttributes = new { @class = "form-control", @placeholder = "dd/MM/yyyy HH:mm" } })
                                    @Html.ValidationMessageFor(model => model.Departure, "", new { @class = "text-danger" })
                                </div>
                            </div>

                            <div class="form-group">
                                @Html.LabelFor(model => model.Arrival, htmlAttributes: new { @class = "control-label col-md-2" })
                                <div class="col-md-10">
                                    @Html.EditorFor(model => model.Arrival, new { htmlAttributes = new { @class = "form-control", @placeholder = "dd/MM/yyyy HH:mm" } })
                                    @Html.ValidationMessageFor(model => model.Arrival, "", new { @class = "text-danger" })
                                </div>
                            </div>

                            <div class="form-group">
                                @Html.LabelFor(model => model.Type, htmlAttributes: new { @class = "control-label col-md-2" })
                                <div class="col-md-10">
                                    @Html.EnumDropDownListFor(model => model.Type, htmlAttributes: new { @class = "form-control" })
                                    @Html.ValidationMessageFor(model => model.Type, "", new { @class = "text-danger" })
                                </div>
                            </div>

                            <div class="form-group">
                                @Html.LabelFor(model => model.FromCityId, "From City", htmlAttributes: new { @class = "control-label col-md-4" })
                                <div class="col-md-10">
                                    @Html.DropDownListFor(model=>model.FromCityId,null, htmlAttributes: new { @class = "form-control" })
                                    @Html.ValidationMessageFor(model => model.FromCityId, "", new { @class = "text-danger" })
                                </div>
                            </div>

                            <div class="form-group">
                                @Html.LabelFor(model => model.ToCityId, "To City", htmlAttributes: new { @class = "control-label col-md-4" })
                                <div class="col-md-10">
                                    @Html.DropDownList("ToCityId", null, htmlAttributes: new { @class = "form-control" })
                                    @Html.ValidationMessageFor(model => model.ToCityId, "", new { @class = "text-danger" })
                                </div>
                            </div>

                            <div class="form-group">
                                @Html.LabelFor(model => model.Price, htmlAttributes: new { @class = "control-label col-md-2" })
                                <div class="col-md-10">
                                    @Html.EditorFor(model => model.Price, new { htmlAttributes = new { @class = "form-control", @placeholder = " From 0 to 200 €" } })
                                    @Html.ValidationMessageFor(model => model.Price, "", new { @class = "text-danger" })
                                </div>
                            </div>

                            <div class="form-group">
                                @Html.LabelFor(model => model.AvailableSeats, htmlAttributes: new { @class = "control-label col-md-6" })
                                <div class="col-md-10">
                                    @Html.EditorFor(model => model.AvailableSeats, new { htmlAttributes = new { @class = "form-control", @placeholder = "From 1 and 50 " } })
                                    @Html.ValidationMessageFor(model => model.AvailableSeats, "", new { @class = "text-danger" })
                                </div>
                            </div>

                            <div class="form-group">
                                @Html.LabelFor(model => model.RemainingSeats, htmlAttributes: new { @class = "control-label col-md-6" })
                                <div class="col-md-10">
                                    @Html.EditorFor(model => model.RemainingSeats, new { htmlAttributes = new { @class = "form-control", @placeholder = "From 1 and 50 " } })
                                    @Html.ValidationMessageFor(model => model.RemainingSeats, "", new { @class = "text-danger" })
                                </div>
                            </div>

                            <div class="form-group">
                                <div class="col-md-offset-2 col-md-10">
                                    <input type="submit" value="Create" class="btn btn-success col-md-5" />
                                    @Html.ActionLink("Back", "Index", new { }, new { @class = "btn btn-primary col-md-5" })
                                </div>
                            </div>

                        </form>
                    </div>
                </div>
            }
        </section>
    </div>
</div>
@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
