@model IEnumerable<BusMeApp.Models.BusRoute>

@{
    ViewBag.Title = "Index";
}

<h2>Bus Routes</h2>

<div id="new-btn">
    @Html.ActionLink("New", "Create", new { }, new { @class = "btn btn-primary" })
</div>

<div class="table-responsive ">
    <table class="table table-bordered table-sm">
        <thead class="thead-dark">
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.FromCityId)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.ToCityId)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Departure)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Arrival)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Type)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Price)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.AvailableSeats)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.RemainingSeats)
                </th>
                <th></th>
            </tr>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.FromCityId)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.ToCityId)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Departure)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Arrival)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Type)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Price)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.AvailableSeats)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.RemainingSeats)
                    </td>
                    <td>
                        @Html.ActionLink("Edit", "Edit", new { id = item.Id }, new { @class = "btn btn-primary" })
                        @Html.ActionLink("Delete", "Delete", new { id = item.Id }, new { @class = "btn btn-danger" })
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>
