@model BusMeApp.Models.Reservation
@{
    ViewBag.Title = "Delete";
}

<div class="row">
    <div class="col-md-8">
        <section id="loginForm">
            @using (Html.BeginForm())
            {
                <div class="col-md-6 col-md-pull-8 ml-auto">
                    <div class="booking-form">
                        <h3>Delete Reservation</h3>
                        <form align="center">
                            <dl class="dl-horizontal">
                                <dt>
                                    <strong> Bus Route</strong>
                                </dt>

                                <dd>
                                   From: @ViewBag.FromCityId
                                </dd>
                                <dd>
                                   To: @ViewBag.ToCityId
                                </dd>
                                <dd>
                                   Departure: @ViewBag.Departure
                                </dd>
                                <dd>
                                   Arrival: @ViewBag.Arrival
                                </dd>
                                <dt>
                                    <strong> Passenger </strong>
                                </dt>

                                <dd>
                                    @ViewBag.FirstName 
                                </dd>
                                <dd>
                                    @ViewBag.LastName 
                                </dd>
                                <dd>
                                    @ViewBag.IdenityCard 
                                </dd>

                                <dt>
                                    @Html.DisplayNameFor(model => model.NumberOfTickets)
                                </dt>

                                <dd>
                                    @Html.DisplayFor(model => model.NumberOfTickets)
                                </dd>
                            </dl>

                            @using (Html.BeginForm())
                            {
                                @Html.AntiForgeryToken()

                                <div class="form-actions no-color">
                                    <input type="submit" value="Delete" class="btn btn-danger col-md-5" />
                                    @Html.ActionLink("Back", "Index", new { }, new { @class = "btn btn-primary col-md-5" })
                                </div>
                            }

                        </form>
                    </div>
                </div>
            }
        </section>
    </div>
</div>
