@model IEnumerable<BusMeApp.Models.Reservation>

@{
    ViewBag.Title = "Index";
}

<h2>Reservations</h2>

<div class="table-responsive ">
    <table class="table table-bordered table-sm">
        <thead class="thead-dark">
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.Route.FromCityId)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Route.ToCityId)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Route.Departure)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Route.Arrival)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Route.Price)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Passenger.IdentityCard)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.NumberOfTickets)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.TotalPrice)
                </th>
                <th>Edit/Delete</th>
            </tr>
        <tbody>
            @foreach (var item in Model)
            {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Route.From.CityName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Route.To.CityName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Route.Departure)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Route.Arrival)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Route.Price)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Passenger.IdentityCard)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.NumberOfTickets)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.TotalPrice)
                </td>
                <td>
                    @*@Html.ActionLink("", "Edit", new { id = item.Id }, new { @class = "btn btn-primary" })*@
                    <a id="@item.Id" class="btn btn-primary" href="@Url.Action("PaymentWithPaypal","Paypal",new { id = item.Id})" >
                        <i class="fab fa-paypal"></i>
                    </a>
                    @Html.ActionLink("Cancel", "Delete", new { id = item.Id }, new { @class = "btn btn-danger" })
                </td>
            </tr>
            }
        </tbody>
    </table>
</div>
