@model IEnumerable<BusMeApp.Models.Reservation>

@{
    ViewBag.Title = "Index";
}

<h2>Reservations</h2>

<div class="table-responsive ">
    <table class="table table-bordered table-sm">
        <thead class="thead-dark">
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.BusRouteId)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.PassengerId)
                </th>                
                <th>
                    @Html.DisplayNameFor(model => model.NumberOfTickets)
                </th>
                <th></th>
            </tr>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.BusRouteId)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.PassengerId)
                    </td>                  
                    <td>
                        @Html.DisplayFor(modelItem => item.NumberOfTickets)
                    </td>

                    <td>
                        @Html.ActionLink("Edit", "Edit", new { id = item.Id }, new { @class = "btn btn-primary" })
                        @Html.ActionLink("Delete", "Delete", new { id = item.Id }, new { @class = "btn btn-danger" })
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>
